<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
  namespace="com.ktdsuniversity.edu.members.dao.MembersDao">
  
  <select id="selectEmailCount" 
          parameterType="string"
          resultType="_int">
          SELECT COUNT(EMAIL)
            FROM MEMBERS
           WHERE EMAIL = #{_parameter}
  </select>
  <select id="selectNicknameCount" 
          parameterType="string"
          resultType="_int">
          SELECT COUNT(EMAIL)
            FROM MEMBERS
           WHERE NICKNAME = #{_parameter}
  </select>
  
  <insert id="insertNewMember"
          parameterType="com.ktdsuniversity.edu.members.vo.request.RegistMembersVO">
          INSERT INTO MEMBERS 
           (EMAIL
          , NAME
          , NICKNAME
          , PASSWORD
          , REGIST_DATE
          , SALT)
          VALUES 
           (#{email}
          , #{name}
          , #{nickname}
          , #{password}
          , SYSDATE
          , #{salt})
  </insert>
  
  <select id="selectMemberByEmail"
          parameterType="string"
          resultType="com.ktdsuniversity.edu.members.vo.response.MembersVO">
          SELECT EMAIL
               , NAME
               , NICKNAME
               , PASSWORD
               , REGIST_DATE
               , MODIFY_DATE
               , LATEST_LOGIN_SUCCESS_DATE
               , LATEST_LOGIN_FAIL_DATE
               , LATEST_LOGOUT_DATE
               , LOGIN_FAIL_COUNT
               , LOGIN_BLOCK_YN
               , LOGIN_BLOCK_DATE
               , LOGIN_YN
               , SALT
               , DEL_YN
            FROM MEMBERS
           WHERE EMAIL = #{_parameter}
  </select>
  
  <!-- int updateLoginStatus(String email); -->
  <update id="updateLoginStatus"
          parameterType="string">
          UPDATE MEMBERS
             SET LATEST_LOGIN_SUCCESS_DATE = SYSDATE
               , LOGIN_FAIL_COUNT = 0
               , LOGIN_BLOCK_YN = 'N'
               , LOGIN_BLOCK_DATE = NULL
               , LOGIN_YN = 'Y'
           WHERE EMAIL = #{_parameter}
  </update>
  
  <!-- int updateLoginFailed(String email); -->
  <update id="updateLoginFailed"
          parameterType="string">
          UPDATE MEMBERS
             SET LATEST_LOGIN_FAIL_DATE = SYSDATE
               , LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
           WHERE EMAIL = #{_parameter}
  </update>
  
  <!-- int updateBlock(String email); -->
  <update id="updateBlock"
          parameterType="string">
          UPDATE MEMBERS
             SET LOGIN_BLOCK_DATE = SYSDATE
               , LOGIN_BLOCK_YN = 'Y'
           WHERE EMAIL = #{_parameter}
             AND LOGIN_FAIL_COUNT >= 5
  </update>
  
  <!-- int updateResetBlock(String email); -->
  <update id="updateResetBlock"
          parameterType="string">
          UPDATE MEMBERS
             SET LOGIN_BLOCK_DATE = NULL
               , LOGIN_BLOCK_YN = 'N'
               , LOGIN_FAIL_COUNT = 0
           WHERE EMAIL = #{_parameter}
  </update>
  
  <!-- int updateLogoutStatus(String email); -->
  <update id="updateLogoutStatus"
          parameterType="string">
          UPDATE MEMBERS
             SET LOGIN_YN = 'N'
               , LATEST_LOGOUT_DATE = SYSDATE
           WHERE EMAIL = #{_parameter}
  </update>
  
  <!--  int deleteMember(String email); -->
  <update id="deleteMember"
          parameterType="string">
          UPDATE MEMBERS
             SET DEL_YN = 'Y'
               , PASSWORD = 'EXPIRED_USER'
               , SALT = 'EXPIRED_SALT'
           WHERE EMAIL = #{_parameter}
  </update>
  
  <select id="selectMemberCountBySearch"
          parameterType="com.ktdsuniversity.edu.members.vo.request.SearchMemberVO"
          resultType="_long">
          SELECT COUNT(EMAIL)
            FROM MEMBERS
           WHERE DEL_YN = 'N'

           <if test='name != null and name != ""'>
             AND NAME = AES_ENCRYPTION(#{name})
           </if>
           <if test='nickname != null and nickname != ""'>
             AND NICKNAME = AES_ENCRYPTION(#{nickname})
           </if>
           <if test='email != null and email != ""'>
<!--              AND EMAIL = #{email} -->
             AND EMAIL LIKE '%' || #{email} || '%'
           </if>
           <if test='registDate != null and registDate != ""'>
             AND REGIST_DATE >= TO_DATE(#{registDate}, 'YYYY-MM-DD')
             AND REGIST_DATE <![CDATA[<]]> TO_DATE(#{registDate}, 'YYYY-MM-DD') + 1
           </if>
  </select>
  
  <select id="selectMemberListBySearch"
          parameterType="com.ktdsuniversity.edu.members.vo.request.SearchMemberVO"
          resultType="com.ktdsuniversity.edu.members.vo.response.MembersVO">
          SELECT EMAIL
               , AES_DECRYPTION(NAME) AS NAME
               , AES_DECRYPTION(NICKNAME) AS NICKNAME
               , PASSWORD
               , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD') AS REGIST_DATE
               , TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE
               , TO_CHAR(LATEST_LOGIN_SUCCESS_DATE, 'YYYY-MM-DD') AS
               , TO_CHAR(LATEST_LOGIN_FAIL_DATE, 'YYYY-MM-DD') AS LATEST_LOGIN_FAIL_DATE
               , TO_CHAR(LATEST_LOGOUT_DATE, 'YYYY-MM-DD') AS LATEST_LOGOUT_DATE
               , LOGIN_FAIL_COUNT
               , LOGIN_BLOCK_YN
               , TO_CHAR(LOGIN_BLOCK_DATE, 'YYYY-MM-DD') AS LOGIN_BLOCK_DATE
               , LOGIN_YN
               , SALT
               , DEL_YN
            FROM MEMBERS
           WHERE DEL_YN = 'N'
           <if test='name != null and name != ""'>
             AND NAME = AES_ENCRYPTION(#{name})
           </if>
           <if test='nickname != null and nickname != ""'>
             AND NICKNAME = AES_ENCRYPTION(#{nickname})
           </if>
           <if test='email != null and email != ""'>
             AND EMAIL LIKE '%' || #{email} || '%'
           </if>
           <if test='registDate != null and registDate != ""'>
             AND REGIST_DATE >= TO_DATE(#{registDate}, 'YYYY-MM-DD')
             AND REGIST_DATE <![CDATA[<]]> TO_DATE(#{registDate}, 'YYYY-MM-DD') + 1
           </if>
  </select>
</mapper>